# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
.vs/Tehtavia_CPP_Jatkokurssi/FileContentIndex/160f12ab-2347-4f90-bf40-701742cc6acf.vsidx
.vs/Tehtavia_CPP_Jatkokurssi/FileContentIndex/716c92aa-026e-42d5-88ec-39e9c27bf10e.vsidx
.vs/Tehtavia_CPP_Jatkokurssi/FileContentIndex/7e94dc19-8f3d-4409-9b32-27c432e8fec5.vsidx
.vs/Tehtavia_CPP_Jatkokurssi/FileContentIndex/9a1521e3-ab9a-4ff6-9f3c-2981511bcb71.vsidx
.vs/Tehtavia_CPP_Jatkokurssi/FileContentIndex/a4137bd2-41af-4bc3-9bf1-05340aef3bbf.vsidx
.vs/Tehtavia_CPP_Jatkokurssi/v17/.suo
.vs/Tehtavia_CPP_Jatkokurssi/v17/Browse.VC.db
.vs/Tehtavia_CPP_Jatkokurssi/v17/Browse.VC.db-shm
.vs/Tehtavia_CPP_Jatkokurssi/v17/Browse.VC.db-wal
.vs/Tehtavia_CPP_Jatkokurssi/v17/Browse.VC.opendb
.vs/Tehtavia_CPP_Jatkokurssi/v17/DocumentLayout.json
.vs/Tehtavia_CPP_Jatkokurssi/v17/Solution.VC.db
.vs/Tehtavia_CPP_Jatkokurssi/v17/Solution.VC.db-shm
.vs/Tehtavia_CPP_Jatkokurssi/v17/Solution.VC.db-wal
.vs/Tehtavia_CPP_Jatkokurssi/v17/ipch/AutoPCH/15a6ee2633d52eff/GAMEWORLD.ipch
.vs/Tehtavia_CPP_Jatkokurssi/v17/ipch/AutoPCH/7a1525d8d5ce4b7/SUMMAT.ipch
.vs/Tehtavia_CPP_Jatkokurssi/v17/ipch/AutoPCH/a761bec6ddf2d568/GAMETASKS.ipch
.vs/Tehtavia_CPP_Jatkokurssi/v17/ipch/AutoPCH/ab9337ca33b15640/CLASS_B.ipch
.vs/Tehtavia_CPP_Jatkokurssi/v17/ipch/AutoPCH/cafa932221fccb08/TILIT.ipch
.vs/Tehtavia_CPP_Jatkokurssi/v17/ipch/AutoPCH/d7e7396926980cff/GAME_TASK.ipch
.vs/Tehtavia_CPP_Jatkokurssi/v17/ipch/AutoPCH/ed015dbce48f959d/CLASS_A.ipch
.vs/Tehtavia_CPP_Jatkokurssi/v17/ipch/AutoPCH/f11954bd9baa3fad/GAMEWORLDCGPT.ipch
Tehtava_1_Summa/Tehtava_1_Summa.vcxproj.filters
Tehtava_1_Summa/Tehtava_1_Summa.vcxproj.user
Tehtava_1_Summa/x64/Debug/Tehtava_1_Summa.exe.recipe
Tehtava_1_Summa/x64/Debug/Tehtava_1_Summa.ilk
Tehtava_1_Summa/x64/Debug/Tehtava_1_Summa.log
Tehtava_1_Summa/x64/Debug/vc143.idb
Tehtava_1_Summa/x64/Debug/vc143.pdb
Tehtava_1_Summa/x64/Debug/Tehtava_1_Summa.tlog/CL.command.1.tlog
Tehtava_1_Summa/x64/Debug/Tehtava_1_Summa.tlog/Cl.items.tlog
Tehtava_1_Summa/x64/Debug/Tehtava_1_Summa.tlog/CL.read.1.tlog
Tehtava_1_Summa/x64/Debug/Tehtava_1_Summa.tlog/CL.write.1.tlog
Tehtava_1_Summa/x64/Debug/Tehtava_1_Summa.tlog/link.command.1.tlog
Tehtava_1_Summa/x64/Debug/Tehtava_1_Summa.tlog/link.read.1.tlog
Tehtava_1_Summa/x64/Debug/Tehtava_1_Summa.tlog/link.secondary.1.tlog
Tehtava_1_Summa/x64/Debug/Tehtava_1_Summa.tlog/link.write.1.tlog
Tehtava_1_Summa/x64/Debug/Tehtava_1_Summa.tlog/Tehtava_1_Summa.lastbuildstate
Tehtava_2_Tililta_nostaminen/Tehtava_2_Tililta_nostaminen.vcxproj.filters
Tehtava_2_Tililta_nostaminen/Tehtava_2_Tililta_nostaminen.vcxproj.user
Tehtava_2_Tililta_nostaminen/x64/Debug/Tehtava_2_Tililta_nostaminen.exe.recipe
Tehtava_2_Tililta_nostaminen/x64/Debug/Tehtava_2_Tililta_nostaminen.ilk
Tehtava_2_Tililta_nostaminen/x64/Debug/Tehtava_2_Tililta_nostaminen.log
Tehtava_2_Tililta_nostaminen/x64/Debug/vc143.idb
Tehtava_2_Tililta_nostaminen/x64/Debug/vc143.pdb
Tehtava_2_Tililta_nostaminen/x64/Debug/Tehtava_.68e138f8.tlog/CL.command.1.tlog
Tehtava_2_Tililta_nostaminen/x64/Debug/Tehtava_.68e138f8.tlog/Cl.items.tlog
Tehtava_2_Tililta_nostaminen/x64/Debug/Tehtava_.68e138f8.tlog/CL.read.1.tlog
Tehtava_2_Tililta_nostaminen/x64/Debug/Tehtava_.68e138f8.tlog/CL.write.1.tlog
Tehtava_2_Tililta_nostaminen/x64/Debug/Tehtava_.68e138f8.tlog/link.command.1.tlog
Tehtava_2_Tililta_nostaminen/x64/Debug/Tehtava_.68e138f8.tlog/link.read.1.tlog
Tehtava_2_Tililta_nostaminen/x64/Debug/Tehtava_.68e138f8.tlog/link.secondary.1.tlog
Tehtava_2_Tililta_nostaminen/x64/Debug/Tehtava_.68e138f8.tlog/link.write.1.tlog
Tehtava_2_Tililta_nostaminen/x64/Debug/Tehtava_.68e138f8.tlog/Tehtava_2_Tililta_nostaminen.lastbuildstate
Tehtava_3_Rinnakkaista_Pelin_Laskentaa/Class_B.cpp
Tehtava_3_Rinnakkaista_Pelin_Laskentaa/Class_B.h
Tehtava_3_Rinnakkaista_Pelin_Laskentaa/Tehtava_3_Rinnakkaista_Pelin_Laskentaa.vcxproj.filters
Tehtava_3_Rinnakkaista_Pelin_Laskentaa/Tehtava_3_Rinnakkaista_Pelin_Laskentaa.vcxproj.user
Tehtava_3_Rinnakkaista_Pelin_Laskentaa/x64/Debug/Tehtava_3_Rinnakkaista_Pelin_Laskentaa.exe.recipe
Tehtava_3_Rinnakkaista_Pelin_Laskentaa/x64/Debug/Tehtava_3_Rinnakkaista_Pelin_Laskentaa.ilk
Tehtava_3_Rinnakkaista_Pelin_Laskentaa/x64/Debug/Tehtava_3_Rinnakkaista_Pelin_Laskentaa.log
Tehtava_3_Rinnakkaista_Pelin_Laskentaa/x64/Debug/vc143.idb
Tehtava_3_Rinnakkaista_Pelin_Laskentaa/x64/Debug/vc143.pdb
Tehtava_3_Rinnakkaista_Pelin_Laskentaa/x64/Debug/Tehtava_.5a888c8c.tlog/CL.command.1.tlog
Tehtava_3_Rinnakkaista_Pelin_Laskentaa/x64/Debug/Tehtava_.5a888c8c.tlog/Cl.items.tlog
Tehtava_3_Rinnakkaista_Pelin_Laskentaa/x64/Debug/Tehtava_.5a888c8c.tlog/CL.read.1.tlog
Tehtava_3_Rinnakkaista_Pelin_Laskentaa/x64/Debug/Tehtava_.5a888c8c.tlog/CL.write.1.tlog
Tehtava_3_Rinnakkaista_Pelin_Laskentaa/x64/Debug/Tehtava_.5a888c8c.tlog/link.command.1.tlog
Tehtava_3_Rinnakkaista_Pelin_Laskentaa/x64/Debug/Tehtava_.5a888c8c.tlog/link.read.1.tlog
Tehtava_3_Rinnakkaista_Pelin_Laskentaa/x64/Debug/Tehtava_.5a888c8c.tlog/link.secondary.1.tlog
Tehtava_3_Rinnakkaista_Pelin_Laskentaa/x64/Debug/Tehtava_.5a888c8c.tlog/link.write.1.tlog
Tehtava_3_Rinnakkaista_Pelin_Laskentaa/x64/Debug/Tehtava_.5a888c8c.tlog/Tehtava_3_Rinnakkaista_Pelin_Laskentaa.lastbuildstate
x64/Debug/Tehtava_1_Summa.pdb
x64/Debug/Tehtava_2_Tililta_nostaminen.pdb
x64/Debug/Tehtava_3_Rinnakkaista_Pelin_Laskentaa.pdb
*.vsidx

*.tlog
